body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1.14em;
    margin-bottom: 10em;
    font-size: 0.95em;
    color: #333;
}

h1,
h2,
h3 {
    font-family: Papyrus, Harrington, Wisp, Arkana, Rivendell, Lucida Handwriting, Apple Chancery, Brush Script;
    margin: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

textarea {
    width: 100%;
    height: 4.4em;
    border: 1px solid #c9c9c9;
    font-size: 1.14em;
    white-space: pre-line;
    box-sizing: border-box;
}

button {
    background-color: slateblue;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

button.rect {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    font-size: 1em;
    display:block;
}

button.edit,
button.clear,
button.save {
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
    font-size: 1em;
}

button.edit {
    background-color: orange;
}

button.clear {
    background-color: red;
}

button.about {
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    font-size: 1.4em;
    background-color: rgb(255, 255, 255);
    margin: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    color: #333;
}

button:hover {
    box-shadow: 0 0.1em 0.3em rgba(47, 79, 79, 0.5);
}

a {
    display: block;
    color: #007BFF;
    text-decoration: none;
}

a.copy {
    color: rgb(111, 111, 255);
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
    background-color: #f2f2f2;
    font-family: Papyrus, Harrington, Wisp, Arkana, Rivendell, Lucida Handwriting, Apple Chancery, Brush Script;
}


td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
    overflow-wrap: anywhere;
}

code {
    font-size: 1.1em;
    font-weight: bold;
}

.collapsible {
    color: rgb(111, 111, 255);
    cursor: pointer;
    font-size: 0.8em;
    text-decoration-line: none;
    margin-top: 4em;
}

.jsonContent {    
    display: none;
    overflow: hidden;
    background-color: #f2f2f2;
    padding-left: 0.5em;
    padding-top: 0;
    padding-bottom: 0.9em;
    padding-right: 0.5em;
    font-size: 0.8em;
    color: rgb(111, 111, 255);
}

#text-container {    
    cursor: grabbing;
    /* Chrome all / Safari all */
    -webkit-user-select: all;
    /* Firefox all */
    -moz-user-select: all;
    /* IE 10+ */
    -ms-user-select: all;
    /* Likely future */
    user-select: all;
}

.json-header {
    font-weight: 600;
    color: #333;
    padding-top: 0.5em;
}

.delete-checkbox {
    display: none;
    position: relative;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    border: 2px solid red;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    margin-left: 0.9em;
}

.delete-checkbox:checked {
    background-color: red;
}

.faq {
    display: none;
    max-width: 100%;
    padding: 0.8em 0.8em 0.8em 2em; 
    background-color: rgba(255, 166, 0, 0.255);
}

.faq.visible {
    display: block;
}

.footer {
    font-size: 0.8em;
    text-align: center;
    padding-top: 1em;
}