body {
    -webkit-text-size-adjust: none;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    margin: 10px;
    font-size: 12px;
}

div {
    clear: both !important;
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

h1,
h2,
h3 {
    margin-top: -5px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

textarea {
    height: 50px;
    resize: none;
}

button {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bolder;
}

button.rect {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

button.edit,
button.clear,
button.save {
    height: 30px;
    width: 30px;
}

table {
    margin-top: 10px;
}

th {
    padding: 4px;
    font-size: 14px;
}

td {
    padding: 4px;
}

code {
    font-size: 9px;
}

#text-container {
    font-size: 9px;
}

.collapsible {
    margin-top: 40px;
    font-size: 9px;
}

.content {
    padding: 5px;
}

.delete-checkbox {
    margin-left: 8px;
    height: 15px;
    width: 15px;
}

button.about {
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.faq {
    padding: 5px;
  }

.footer {
    font-size: 9px;
    position: fixed;
    inline-size: -webkit-fill-available;
    bottom: 0px;
    z-index: 100;
    text-align: center;
}