body {
    -webkit-text-size-adjust: none;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    margin: 10px;
    margin-bottom: 100px;
    font-size: 12px;
}

div {
    clear: both !important;
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

textarea {
    height: 50px;
    font-size: 11px;
}

button.rect {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
}

button.edit,
button.clear,
button.save {
    height: 30px;
    width: 30px;
    font-size: 14px;
}

button.about {
    font-size: 20px;
    margin: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

button:hover {
    box-shadow: 0 1px 3px rgba(47, 79, 79, 0.5);
}

table {
    margin-top: 10px;
}

th {
    padding: 4px;
    font-size: 14px;
}

td {
    padding: 4px;
}

code {
    font-size: 11px;
}

.collapsible {
    font-size: 9px;
    margin-top: 40px;
}

.jsonContent {
    padding-left: 4px;
    padding-top: 0;
    padding-bottom: 8px;
    padding-right: 4px;
    font-size: 9px;
}

.json-header {
    padding-top: 7px;
}

.delete-checkbox {
    margin-left: 8px;
    height: 15px;
    width: 15px;
}

.faq {
    padding: 5px;
  }

.footer {
    font-size: 9px;
    padding-top: 5px;
}